.date-time-picker-calendar-component{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;

    &, *{
        box-sizing: border-box;
    }

    // The actual content container element
    .dialog{
        margin: -1rem;
        padding: 1rem;
        flex-grow: 1;
        max-width: 525px;
        
        .calendar-container{
            background-color: var(--calendar-container-bg-color);
            box-shadow: var(--calendar-container-box-shadow);
            border-radius: var(--calendar-container-border-radius);
            overflow: hidden;

            .calendar-controls-container{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                padding: var(--calendar-section-container-padding);

                .month-year-controls-container{
                    display: flex;
                    justify-content: space-between;
                    gap: 0.5rem;

                    .prev-month-button, .next-month-button{
                        padding: var(--calendar-month-change-button-padding);
                        border-radius: 4px;
                        border: none;
                        appearance: none;
                        background-color: var(--calendar-month-change-button-bg-color);
                        color: var(--calendar-month-change-button-text-color);
                        font-size: var(--calendar-action-controls-font-size);
                        
                        &:hover{
                            cursor: pointer;
                            background-color: var(--calendar-month-change-button-bg-color-hover);
                            color: var(--calendar-month-change-button-text-color-hover);
                        }
                    }

                    .select-month-button{
                        border-radius:4px;
                        padding: var(--calendar-month-button-padding);
                        border: none;
                        appearance: none;
                        background-color: var(--calendar-month-button-bg-color);
                        color: var(--calendar-month-button-text-color);
                        font-size: var(--calendar-action-controls-font-size);

                        &:hover{
                            cursor: pointer;
                            background-color: var(--calendar-month-button-bg-color-hover);
                            color: var(--calendar-month-button-text-color-hover);
                        }
                    }

                    .select-year-button{
                        border-radius:4px;
                        padding: var(--calendar-year-button-padding);
                        border: none;
                        appearance: none;
                        background-color: var(--calendar-year-button-bg-color);
                        color: var(--calendar-year-button-text-color);
                        font-size: var(--calendar-action-controls-font-size);

                        &:hover{
                            cursor: pointer;
                            background-color: var(--calendar-year-button-bg-color-hover);
                            color: var(--calendar-year-button-text-color-hover);
                        }
                    }
                }

                .weekday-grid-container{
                    .weekdays-titles{
                        display: grid;
                        grid-template-columns: repeat(7, 1fr);
                        gap: 0.3rem;

                        @media (max-width: $calendar-small-screen-width){
                            gap: unset;
                        }

                        & > div{
                            text-align: center;
                            font-weight: bold;
                            font-size: 1.05rem;
                            padding: 1rem;

                            @media (max-width: $calendar-small-screen-width){
                                font-size: 0.925rem;
                                padding:1rem 0.5rem;
                            }
                        }
                    }

                    .weekday-buttons{
                        display: grid;
                        grid-template-columns: repeat(7, 1fr);
                        text-align: center;
                        gap: 0.3rem;

                        @media (max-width: $calendar-small-screen-width){
                            gap: unset;
                        }

                        button{
                            appearance: none;
                            border: none;
                            background-color: var(--calendar-weekday-button-bg-color);
                            font-size: 1.05rem;
                            padding: 1rem;
                            color: var(--calendar-weekday-button-text-color);
                            border-radius: var(--calendar-weekday-button-border-radius);

                            @media (max-width: $calendar-small-screen-width){
                                padding: 1rem 0.5rem;
                                font-size: 0.925rem;
                            }

                            &:hover{
                                cursor: pointer;
                                background-color: var(--calendar-weekday-button-bg-color-hover);
                                color: var(--calendar-weekday-button-text-color-hover);
                            }

                            &.outside-of-month{
                                background-color: var(--calendar-outside-month-weekday-button-bg-color);
                                color: var(--calendar-outside-month-weekday-button-text-color);
                                &:hover{
                                    background-color: var(--calendar-outside-month-weekday-button-bg-color-hover);
                                    color: var(--calendar-outside-month-weekday-button-text-color-hover);
                                }
                            }

                            &.selected{
                                background-color: var(--calendar-active-weekday-button-bg-color);
                                color: var(--calendar-active-weekday-button-text-color);
                            }
                        }
                    }
                }
            }

            .month-selection-container{
                padding: var(--calendar-section-container-padding);
                .month-buttons{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);

                    button{
                        appearance: none;
                        border: none;
                        padding: 1rem;
                        font-size: 1.05rem;
                        background-color: var(--calendar-month-selection-button-bg-color);
                        color: var(--calendar-month-selection-button-text-color);
                        border-radius: var(--calendar-month-selection-button-border-radius);

                        &:hover{
                            cursor: pointer;
                            background-color: var(--calendar-month-selection-button-bg-color-hover);
                            color: var(--calendar-month-selection-button-text-color-hover);
                        }

                        &.selected{
                            background-color: var(--calendar-active-month-button-bg-color);
                            color: var(--calendar-active-month-button-text-color);
                        }
                    }
                }
            }

            .year-selection-container{
                padding: var(--calendar-section-container-padding);
                .year-buttons{
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);

                    button{
                        appearance: none;
                        border: none;
                        padding: 1rem;
                        font-size: 1.05rem;
                        background-color: var(--calendar-year-selection-button-bg-color);
                        color: var(--calendar-year-selection-button-text-color);
                        border-radius: var(--calendar-year-selection-button-border-radius);

                        &:hover{
                            cursor: pointer;
                            background-color: var(--calendar-year-selection-button-bg-color-hover);
                            color: var(--calendar-year-selection-button-text-color-hover);
                        }

                        &.selected{
                            background-color: var(--calendar-active-year-button-bg-color);
                            color: var(--calendar-active-year-button-text-color);
                        }
                    }
                }
            }

            .calendar-controls-buttons{
                display: flex;

                button{
                    appearance: none;
                    border: none;
                    flex-grow: 1;
                    padding:1rem;
                    font-size:1.2rem;
                    width: 50%;

                    &.close-button{
                        background-color: var(--calendar-controls-cancel-button-bg-color);
                        color: var(--calendar-controls-cancel-button-text-color);

                        &:hover{
                            cursor: pointer;
                            background-color: var(--calendar-controls-cancel-button-bg-color-hover);
                            color: var(--calendar-controls-cancel-button-text-color-hover);
                        }
                    }

                    &.confirm-button{
                        background-color: var(--calendar-controls-confirm-button-bg-color);
                        color: var(--calendar-controls-confirm-button-text-color);

                        &:hover{
                            cursor: pointer;
                            background-color: var(--calendar-controls-confirm-button-bg-color-hover);
                            color: var(--calendar-controls-confirm-button-text-color-hover);
                        }
                    }

                    &.next-button{
                        background-color: var(--calendar-controls-next-button-bg-color);
                        color: var(--calendar-controls-next-button-text-color);

                        &:hover{
                            cursor: pointer;
                            background-color: var(--calendar-controls-next-button-bg-color-hover);
                            color: var(--calendar-controls-next-button-text-color-hover);
                        }
                    }
                }
            }
        }
    }
}