.date-time-picker-time-picker-component{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;

    &, *{
        box-sizing: border-box;
    }

    // The actual content container element
    .dialog{
        margin: -1rem;
        padding: 1rem;
        flex-grow: 1;
        max-width: 525px;
        
        .time-picker-container{
            background-color: var(--time-picker-container-bg-color);
            box-shadow: var(--time-picker-container-box-shadow);
            border-radius: var(--time-picker-container-border-radius);
            overflow: hidden;

            .time-picker-controls-container{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                padding: var(--time-picker-section-container-padding);

                .time-control-button{
                    appearance: none;
                    color: var(--time-picker-change-time-control-button-text-color);
                    background: none;
                    background-color: var(--time-picker-change-time-control-button-bg-color);
                    padding:0.65rem 1rem;
                    border: none;

                    &:hover{
                        cursor: pointer;
                        background-color: var(--time-picker-change-time-control-button-bg-color-hover);
                        color: var(--time-picker-change-time-control-button-text-color-hover);
                    }
                }

                .hour-section{
                    display: flex;
                    flex-direction: column;
                    gap: 0.25rem;
                    width: 70px;
                    max-width: 70px;

                    .hour-buttons-container{
                        position: relative;
                        height: 90px;
                        max-height: 90px;
                        overflow: hidden;
                        scrollbar-width: none;
                        display:flex;
                        flex-direction: column;
                        justify-content: center;

                        &::-webkit-scrollbar{
                            display: none;
                        }

                        .prev-hour-buttons, .next-hour-buttons, .current-hour-button{
                            display: flex;
                            flex-direction: column;
                        }

                        .prev-hour-buttons{
                            flex-direction: column-reverse;
                        }
        
                        button{
                            background: none;
                            border: none;
                            appearance: none;
                            color: rgb(60,60,60);
                            font-size:1.88rem;
                        }

                        .gradient{
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 2;
                            background: linear-gradient(white 6%, transparent 50%, white 94%);
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .time-colon{
                    font-size:3.5rem;
                    margin-top: -12px;
                }

                .minute-section{
                    display: flex;
                    flex-direction: column;
                    gap: 0.25rem;
                    width: 90px;
                    max-width: 90px;

                    .minute-buttons-container{
                        position: relative;
                        height: 90px;
                        max-height: 90px;
                        overflow: hidden;
                        scrollbar-width: none;
                        display:flex;
                        flex-direction: column;
                        justify-content: center;

                        &::-webkit-scrollbar{
                            display: none;
                        }

                        .prev-minute-buttons, .next-minute-buttons, .current-minute-button{
                            display: flex;
                            flex-direction: column;
                        }

                        .prev-minute-buttons{
                            flex-direction: column-reverse;
                        }
        
                        button{
                            background: none;
                            border: none;
                            appearance: none;
                            color: rgb(60,60,60);
                            font-size:1.88rem;
                        }

                        .gradient{
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 2;
                            background: linear-gradient(white 6%, transparent 50%, white 94%);
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .meridiem-buttons{
                    display: flex;
                    flex-direction: column;
                    // border: 1px solid rgb(140,140,140);
                    button{
                        appearance: none;
                        background: var(--time-picker-controls-meridiem-button-bg-color);
                        border: none;
                        font-weight: bold;
                        font-size:1.5rem;
                        color: var(--time-picker-controls-meridiem-button-text-color);
                        padding: 1rem;

                        &:hover{
                            cursor: pointer;
                            background-color: var(--time-picker-controls-meridiem-button-bg-color-hover);
                            color: var(--time-picker-controls-meridiem-button-text-color-hover);
                        }

                        &.selected{
                            background-color: var(--time-picker-controls-meridiem-button-selected-bg-color);
                            color: var(--time-picker-controls-meridiem-button-selected-text-color);
                        }
                    }
                }
            }

            .time-picker-controls-buttons{
                display: flex;

                button{
                    appearance: none;
                    border: none;
                    flex-grow: 1;
                    padding:1rem;
                    font-size:1.2rem;
                    width: 50%;

                    &.close-button{
                        background-color: var(--time-picker-controls-cancel-button-bg-color);
                        color: var(--time-picker-controls-cancel-button-text-color);

                        &:hover{
                            cursor: pointer;
                            background-color: var(--time-picker-controls-cancel-button-bg-color-hover);
                            color: var(--time-picker-controls-cancel-button-text-color-hover);
                        }
                    }

                    &.back-button{
                        background-color: var(--time-picker-controls-back-button-bg-color);
                        color: var(--time-picker-controls-back-button-text-color);

                        &:hover{
                            cursor: pointer;
                            background-color: var(--time-picker-controls-back-button-bg-color-hover);
                            color: var(--time-picker-controls-back-button-text-color-hover);
                        }
                    }

                    &.confirm-button{
                        background-color: var(--time-picker-controls-confirm-button-bg-color);
                        color: var(--time-picker-controls-confirm-button-text-color);

                        &:hover{
                            cursor: pointer;
                            background-color: var(--time-picker-controls-confirm-button-bg-color-hover);
                            color: var(--time-picker-controls-confirm-button-text-color-hover);
                        }
                    }
                }
            }
        }
    }
}