$calendar-small-screen-width: 480px; // This can't be used for a media-query in CSS variables yet.

.date-time-picker-calendar-component{
    // --calendar-small-screen-width: 480px;
    --calendar-container-bg-color: white;
    --calendar-container-border-radius: 8px;
    --calendar-container-box-shadow: 0 0.1rem 0.5rem 0rem rgb(0 0 0 / 15%);
    
    --calendar-section-container-padding: 1rem;

    --calendar-action-controls-font-size: 1.2rem;

    --calendar-month-change-button-padding: 0.35rem;
    --calendar-month-change-button-bg-color: rgb(240,240,240);
    --calendar-month-change-button-text-color: rgb(55,55,55);
    --calendar-month-change-button-bg-color-hover: rgb(248,248,248);
    --calendar-month-change-button-text-color-hover: rgb(55,55,55);

    --calendar-month-button-padding: 0.35rem 1rem;
    --calendar-month-button-bg-color: rgb(240,240,240);
    --calendar-month-button-text-color: rgb(55,55,55);
    --calendar-month-button-bg-color-hover: rgb(248,248,248);
    --calendar-month-button-text-color-hover: rgb(55,55,55);

    --calendar-year-button-padding: 0.35rem 1rem;
    --calendar-year-button-bg-color: rgb(240,240,240);
    --calendar-year-button-text-color: rgb(55,55,55);
    --calendar-year-button-bg-color-hover: rgb(248,248,248);
    --calendar-year-button-text-color-hover: rgb(55,55,55);

    --calendar-weekday-button-border-radius: 8px;
    --calendar-weekday-button-bg-color: none;
    --calendar-weekday-button-text-color: rgb(55,55,55);
    --calendar-weekday-button-bg-color-hover: rgb(248,248,248);
    --calendar-weekday-button-text-color-hover: rgb(55,55,55);

    --calendar-outside-month-weekday-button-bg-color: none;
    --calendar-outside-month-weekday-button-text-color: rgb(150,150,150);
    --calendar-outside-month-weekday-button-bg-color-hover: rgb(248,248,248);
    --calendar-outside-month-weekday-button-text-color-hover: rgb(150,150,150);

    --calendar-active-weekday-button-bg-color: #238eff;
    --calendar-active-weekday-button-text-color: white;

    --calendar-controls-cancel-button-bg-color: rgb(140,140,140);
    --calendar-controls-cancel-button-text-color: white;
    --calendar-controls-cancel-button-bg-color-hover: rgb(120,120,120);
    --calendar-controls-cancel-button-text-color-hover: white;

    --calendar-controls-confirm-button-bg-color: rgb(35, 142, 255);
    --calendar-controls-confirm-button-text-color: white;
    --calendar-controls-confirm-button-bg-color-hover: rgb(26 118 215);
    --calendar-controls-confirm-button-text-color-hover: white;

    --calendar-month-selection-button-bg-color: none;
    --calendar-month-selection-button-text-color: rgb(55,55,55);
    --calendar-month-selection-button-border-radius: 4px;
    --calendar-month-selection-button-bg-color-hover: rgb(248,248,248);
    --calendar-month-selection-button-text-color-hover: rgb(55,55,55);

    --calendar-active-month-button-bg-color: #238eff;
    --calendar-active-month-button-text-color: white;

    --calendar-year-selection-button-bg-color: none;
    --calendar-year-selection-button-text-color: rgb(55,55,55);
    --calendar-year-selection-button-border-radius: 4px;
    --calendar-year-selection-button-bg-color-hover: rgb(248,248,248);
    --calendar-year-selection-button-text-color-hover: rgb(55,55,55);

    --calendar-active-year-button-bg-color: #238eff;
    --calendar-active-year-button-text-color: white;
}