$calendar-small-screen-width: 480px; // This can't be used for a media-query in CSS variables yet.

.date-time-picker-calendar-component{
    // --calendar-small-screen-width: 480px;
    --calendar-dialog-bg-color: white;
    --calendar-dialog-padding: 1rem;
    --calendar-dialog-border-radius: 8px;
    --calendar-dialog-box-shadow: 0 0.1rem 0 0 rgb(0 0 0 / 15%);

    --calendar-action-controls-font-size: 1.2rem;

    --calendar-month-change-button-padding: 0.35rem;
    --calendar-month-change-button-bg-color: rgb(240,240,240);
    --calendar-month-change-button-text-color: rgb(55,55,55);
    --calendar-month-change-button-bg-color-hover: rgb(248,248,248);
    --calendar-month-change-button-text-color-hover: rgb(55,55,55);

    --calendar-month-button-padding: 0.35rem 1rem;
    --calendar-month-button-bg-color: rgb(240,240,240);
    --calendar-month-button-text-color: rgb(55,55,55);
    --calendar-month-button-bg-color-hover: rgb(248,248,248);
    --calendar-month-button-text-color-hover: rgb(55,55,55);

    --calendar-year-button-padding: 0.35rem 1rem;
    --calendar-year-button-bg-color: rgb(240,240,240);
    --calendar-year-button-text-color: rgb(55,55,55);
    --calendar-year-button-bg-color-hover: rgb(248,248,248);
    --calendar-year-button-text-color-hover: rgb(55,55,55);

    --calendar-weekday-button-border-radius: 8px;
    --calendar-weekday-button-bg-color: none;
    --calendar-weekday-button-text-color: rgb(55,55,55);
    --calendar-weekday-button-bg-color-hover: rgb(248,248,248);
    --calendar-weekday-button-text-color-hover: rgb(55,55,55);

    --calendar-outside-month-weekday-button-bg-color: none;
    --calendar-outside-month-weekday-button-text-color: rgb(150,150,150);
    --calendar-outside-month-weekday-button-bg-color-hover: rgb(248,248,248);
    --calendar-outside-month-weekday-button-text-color-hover: rgb(150,150,150);

    --calendar-active-weekday-button-bg-color: #3c64ff;
    --calendar-active-weekday-button-text-color: white;
}